---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import Welcome from "../components/Welcome.astro";
import About from "../components/About.astro";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Paxe</title>
  </head>
  <body class="flex flex-col min-h-screen bg-secondary text-white font-lato font-light bg-pan-top">
    <NavBar />
    <Welcome />
    <About />

  </body>
</html>
